<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="e05">
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

    <xacro:include filename="$(find e05_pro)/urdf/E05_Pro.urdf.xacro"/>
    <xacro:include filename="$(find e05_pro)/urdf/gazebo.xacro"/>
    <xacro:include filename="$(find robotiq_description)/urdf/2f_85.ros2_control.xacro"/>


    <xacro:macro name="transmission_block" params="name">

        <joint name="${name}">
            <command_interface name="position">
                <param name="min">-3.14</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <transmission name="${name}_trans">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <actuator name="${name}_motor" role="actuator">
                <mechanical_reduction>1.0</mechanical_reduction>
                <offset>0.0</offset>
            </actuator>
            <joint name="${name}" role="joint">
                <offset>0.0</offset>
            </joint>
        </transmission>
        
    </xacro:macro>

    <xacro:macro name="gazebo_reference" params="joint_name p_gain=50.0 i_gain=5.0 d_gain=10.0" >
        <gazebo reference="${joint_name}">
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>1000</mu1>
            <mu2>1000</mu2>
            <position_pid>
                <p>${p_gain}</p>
                <i>${i_gain}</i>
                <d>${d_gain}</d>
            </position_pid>
        </gazebo>
    
    </xacro:macro>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <xacro:transmission_block name="joint1"/>
        <xacro:transmission_block name="joint2"/>
        <xacro:transmission_block name="joint3"/>
        <xacro:transmission_block name="joint4"/>
        <xacro:transmission_block name="joint5"/>
        <xacro:transmission_block name="joint6"/>

        <xacro:robotiq_gripper_ros2_control prefix=""/>

    </ros2_control>

    <xacro:gazebo_reference joint_name="joint1" p_gain="40" i_gain="2" d_gain="8"/>
    <xacro:gazebo_reference joint_name="joint2" p_gain="100" i_gain="10" d_gain="20"/>
    <xacro:gazebo_reference joint_name="joint3" p_gain="80" i_gain="8" d_gain="18"/>
    <xacro:gazebo_reference joint_name="joint4" p_gain="30" i_gain="1" d_gain="8"/>
    <xacro:gazebo_reference joint_name="joint5" p_gain="25" i_gain="0.5" d_gain="6"/>
    <xacro:gazebo_reference joint_name="joint6" p_gain="20" i_gain="0.3" d_gain="5"/>

    

    <gazebo reference="base_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="link1"><material>Gazebo/White</material></gazebo>
    <gazebo reference="link2"><material>Gazebo/Orange</material></gazebo>
    <gazebo reference="link3"><material>Gazebo/White</material></gazebo>
    <gazebo reference="link4"><material>Gazebo/Orange</material></gazebo>
    <gazebo reference="link5"><material>Gazebo/White</material></gazebo>
    <gazebo reference="link6"><material>Gazebo/Red</material></gazebo>

    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>

    <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="robotiq_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
    
</robot>